## Datatypes in Python

In [1]:
## Integer
age = 21
print(age, type(age))

21 <class 'int'>

In [2]:
## Float
height = 5.11
print(height, type(height))

5.11 <class 'float'>

In [ ]:
## Boolean
is_Digit = True
print(is_Digit,type(is_Digit))

num1 = 10
num2 = 12

num1 == num2 ## False

True <class 'bool'>

False

In [14]:
## String
name = "Ansh Jha"
print(name)

Ansh Jha

In [7]:
## Common errors

result = "Ansh" + 30

TypeError: can only concatenate str (not "int") to str

In [1]:
result = "Ansh" + str(5)
print(result)

Ansh5