### Sets in Python

In [ ]:
## Set is an unordered data structure in python which dont store duplicate values.
my_set = {1,2,2,3,2,4,5,1}
print(my_set)

{1, 2, 3, 4, 5}

In [2]:
## Typecasting a list to set
my_empty_set = set([1,2,3,4,5,5,6,7])
print(my_empty_set)
print(type(my_empty_set))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [ ]:
## Basic set operations
## addition or insertion
my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 8}

In [4]:
## Removal of element
my_set.remove(8)

In [ ]:
print(my_set)
my_set.discard(5) ## remove if exists else don't throw an error.

{1, 2, 3, 4, 5}

In [9]:
print(my_set)

{1, 2, 3, 4}

In [ ]:
## pop method
removed_element = my_set.pop() ## uses FIFO
print(removed_element)

1

In [ ]:
## Clear all the elements
my_set.clear()
print(my_set) ## set() i.e. empty set

set()

In [13]:
## set membership set
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
## Mathematical Operation
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## Union of a set
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
## Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [20]:
## Intersection_Update
set1.intersection_update(set2) ## finds common element and updates it to the set
print(set1)

{4, 5, 6}

In [22]:
## Difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.difference(set2)) ## removes the common element in both the set for set1

{1, 2, 3}

In [ ]:
## Difference Update
set1.difference_update(set2) ## removes the common element in both set for the set1 and stores it in set1 
print(set1)

{1, 2, 3}

In [ ]:
## Symmetric Difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set1.symmetric_difference(set2) ## removes the common element from both the set and prints/shows the non-intersecting element

{1, 2, 3, 7, 8, 9}

In [2]:
## Set methods
set1 = {1,2,3,4,5}
set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [3]:
## Remove dublicates from a list
lst = [1,2,2,3,1,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [4]:
## Count unique words in a text
text = "In this tutorial we are learning about sets"
word = text.split()

## Convert list of words to set to get unique words
unique_words = set(word)
print(unique_words)
print(len(unique_words))

{'learning', 'we', 'about', 'are', 'sets', 'In', 'this', 'tutorial'}
8