## Tuples in Python

In [1]:
## Tuples ar ordered collection of items that are immutable
empty_tuple = ()

In [2]:
mixed_tuple = ("Ansh",3.14, True, 23)
print(mixed_tuple)

('Ansh', 3.14, True, 23)

In [3]:
numbers = (1,2,3,4,5)
print(numbers)

(1, 2, 3, 4, 5)

In [4]:
## Tuple operations
concatenation_tuple = numbers+ mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 'Ansh', 3.14, True, 23)

In [5]:
mixed_tuple * 3

('Ansh', 3.14, True, 23, 'Ansh', 3.14, True, 23, 'Ansh', 3.14, True, 23)

In [6]:
## Lists are mutable i.e. they can be changed once assigned
## Tuples are immutable i.e. they can't be changed once it is assigned
lst = [1,2,3,4,5]
lst[1] = "Ansh"
print(lst)

[1, 'Ansh', 3, 4, 5]

In [10]:
numbers = (1,2,3,4,5)
print(numbers[2])
## numbers[2] = "Jha" ## Tuple object doesn't support item assignment.

3

In [ ]:
## Tuple methods
print(numbers.count(1))
print(numbers.index(3)) ## The number is on which index.

1
2

In [18]:
## Packing & Unpacking tuple
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [19]:
## Unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [20]:
## Unapacking with *
numbers = (1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [27]:
## nested list
lst = [[1,2,3],[3.14,"Hello",25],["Ansh","Jha",21]]
lst[0]
lst[1][0:2]

[3.14, 'Hello']

In [24]:
lst = [[1,2,3],[3.14,"Hello",25],("Ansh","Jha",21)]
lst[2]

('Ansh', 'Jha', 21)

In [29]:
nested_tuple = ((1,2,3,4),("Ansh","Jha",21,"1AY21CS034"),(3.14,True,"Srushti",24))
nested_tuple[1][1:]

('Jha', 21, '1AY21CS034')

In [35]:
## Create a tuple of single item
tuple = ("Ansh",)
print(type(tuple))

<class 'tuple'>

In [36]:
## Join tuple operations
fruits = ("Banana","Guava","Orange","Mango")
number = (1,2,3,4,5)

join_tuple = fruits + number
print(join_tuple)

('Banana', 'Guava', 'Orange', 'Mango', 1, 2, 3, 4, 5)

In [37]:
fruits = ("Banana","Guava","Orange","Mango")

multiply_tuple = fruits * 2
print(multiply_tuple)

('Banana', 'Guava', 'Orange', 'Mango', 'Banana', 'Guava', 'Orange', 'Mango')